/* All */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    background: url(./images/f3-f4_cam222-1562656802-20200814095935.png) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}


/* Header */
.header {
    height: 63px;
    width: 100%;
    background: linear-gradient(#09363f,#134f49);
}

.container {
    height: 100%;
    width: 63.44%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.logo {
    width: 20%;
    cursor: pointer;
}

.rightContainer {
    width: 74%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.list {
    width: 78%;
    display: flex;
    cursor: pointer;
}

.hotline {
    width: 22%;
    height: 60%;
    border: 1px solid #edce87;
    cursor: pointer;
    border-radius: 20px;
    display: table-cell;
    animation: effect ease-in 3s infinite;
}

.list .item {
    margin: 0 auto;
}

.hotline .phoneNumber {
    margin-top: 5%;
    text-align: center;
}

@keyframes effect {
    0% {
        transform: scale(0.865);
    }
    3% {
        transform: scale(0.885);
    }
    5% {
        transform: scale(0.905);
    }
    8% {
        transform: scale(0.925);
    }
    10% {
        transform: scale(0.945);
    }
    12% {
        transform: scale(0.965);
    }
    15% {
        transform: scale(0.985);
    }
    20% {
        transform: scale(1.005);
    }
    25% {
        transform: scale(1.025);
    }
    30% {
        transform: scale(1.045);
    }
    35% {
        transform: scale(1.065);
    }
    40% {
        transform: scale(1.085);
    }
    45% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.085);
    }
    55% {
        transform: scale(1.065);
    }
    60% {
        transform: scale(1.045);
    }
    65% {
        transform: scale(1.025);
    }
    70% {
        transform: scale(1.005);
    }
    75% {
        transform: scale(0.985);
    }
    80% {
        transform: scale(0.965);
    }
    85% {
        transform: scale(0.945);
    }
    90% {
        transform: scale(0.925);
    }
    94% {
        transform: scale(0.905);
    }
    98% {
        transform: scale(0.885);
    }
    100% {
        transform: scale(0.865);
    }
}


/* Section 1 */
.section1 {
    width: 100%;
    height: calc(100vh - 63px);
    margin: 0 auto;
    background: url(./images/background-20200814095539.png) no-repeat;
    background-size: 130% ;
    background-position: top left 55.8%;
}

.section1-container {
    width: 63.44%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.policy {
    width: 48%;
    height: 80%;
    background: url(./images/box-ok.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    text-align: center;
    color: #fff;
}

.policy-content {
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.policyItem1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.policyItem2 {
    width: 80%;
    margin: 5% auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.policy2-left {
    width: 12%;
    height: 0.2rem;
    background: url(./images/line-2-20200814022827.png) no-repeat;
    background-size: 100%;
    margin-right: 0.3rem;
}

.policy2-center {
    font-size: 1.4em;
}

.policy2-right {
    width: 12%;
    height: 0.2rem;
    background: url(./images/line-2-20200814022827.png) no-repeat;
    background-size: 100%;
    margin-left: 0.3rem;
}

.policyItem3 {
    width: 80%;
    margin: 2% auto 4%;
    font-size: 1.2em;
    font-weight: 600;
    color: #edce87;
    font-family: 'Oswald', sans-serif;
}

.policyItem4-column {
    width: 0.6em;
    height: 25.6%;
    position: absolute;
    left: 14%;
    background: url(./images/line-up.png) no-repeat;
    background-size: 100%;
}

.policyItem4 {
    width: 68%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.9em;
}

.policyItem4 h3 {
    margin-bottom: 3%;
}

.policyItem5 {
    width: 66%;
    height: 30%;
    margin-top: -5%;
    margin-left: -4%;
    background: url(./images/vinfast-lux-a-trang-20200814022442.png) no-repeat;
    background-size: 100% ;
}

.policyItem6 {
    width: 33%;
    height: 30%;
    position: absolute;
    right: 6%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    color: #edce87;
    font-family: 'Oswald', sans-serif;
}

.policyItem6 .voucher {
    width: 100%;
    height: 50%;
    background: url(./images/vochue-20200814022315.png) no-repeat;
    background-size: 100%;
}











/* 
@media (max-width: 46.1875em)
@media (min-width: 46.25em) and (max-width: 63.9375em)
*/

/* Responsive */
.navbar, .exit {
    display: none;
}

.exit {
    left: 0;
    position: absolute;
    font-size: 1.6em;
}

.nav-list {
    width: 66%;
    max-width: 320px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    background-color: rgba(0, 0, 0, 0.342);
    z-index: 1;
}

.nav-list-item {
    margin-top: 64px;
    width: 100%;
    height: 80%;
}

.nav-list .nav-item {
    height: 100%;
    height: 12%;
}

.nav-list-item .nav-item:active {
    background-color: rgb(148, 143, 143);
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Mobile */
@media (max-width: 46.1875em) {

    /* Header */
    .container {
        width: 100%;
        height: 100%;
    }
    
    .logo {
        width: 40%;
        margin-left: 5%;
    }

    .rightContainer {
        width: 20%;
    }

    .list {
        display: none;
    }

    .hotline {
        display: none;
    }

    .navbar {
        display: block;
        font-size: 1.3em;
        position: absolute;
        right: 22%;
    }

    /* Section 1 */
    .section1 {
        position: absolute;
        top: 63px;
        background-size: auto;
        background-position: bottom;
    }

    .section1-container {
        width: 98%;
        margin: 0 auto;
    }

    .policy {
        width: 100%;
        margin-top: 1%;
    }

    .policyItem1, .policyItem2, .policyItem4, .policyItem5 {
        font-size: 0.8em;
    }

    .policyItem6 {
        font-size: 0.92em;
    }
    

}
