/* Responsive */
/* Tablet */
@media (min-width: 46.25em) and (max-width: 64em) {
    
    body {
        background: none;
        font-size: 0.9em;
    }
    
    /* Header */
    .container {
        width: 100%;
        overflow: hidden;
    }

    /* Section 1 */
    .section1 {
        height: 50vh !important;
        background-size: 200%;
    }

    .section1-container {
        height: 100%;
        width: 100%;
    }

    .policy {
        width: 50%;
        height: 90%;
    }

    .policyItem5 {
        margin-top: 0;
    }

    /* Section2 */
    .section2 {
        width: 100%;
        height: 50vh;
    }

    /* Section 3 */
    .section3 {
        width: 100%;
        height: 50vh;
    }



}
